#h1{
    color: #FFFFFF;
    background-color: #003399;
    text-align: center;
    font-size: 20px;
}
table{
    border: black solid 1px;
    border-collapse: collapse;
    width: 100%;
}
#cot1{
    width: 30%;
    height: 100%;
    background-color: #DEF0FA;
}